dotNET/Vacancy Solution/WpfClient/Service References/VacancyServiceReference/VacancyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9810/VacancyService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VacancyServiceInterface" />
  <xs:element name="GetOnlineVacancies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlineVacanciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VacancyServiceInterface" minOccurs="0" name="GetOnlineVacanciesResult" nillable="true" type="q1:ArrayOfVacancy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalVacancies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalVacanciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VacancyServiceInterface" minOccurs="0" name="GetLocalVacanciesResult" nillable="true" type="q2:ArrayOfVacancy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>